# This file is centrally managed by puppet.i.2connect.net
# All change will be overwritten each time puppet-agent runs
# Author:       Mohamed Waqqas
# Date:         2015-03-16

$template SyslFormat,"%timegenerated% <%= @hostname %> %syslogtag%%msg:::space$
*.* @192.168.2.252:514;SyslFormat
*.* @192.168.2.254:514;SyslFormat
